<section class="section__container download__container" id="contact">
    <div class="download__grid">
        <div class="download__content">
            <h2 class="section__header">Contact Us</h2>
            <p>
                292382981<br />
                thirupathi@gmail.com
            </p>
        </div>
</section>